/* body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
    color: #00B7FF;
  } */
  
  
  
  :root{
    /* Colors */
    --bg-header: hsl(212, 70%, 62%);
    --bg-light: hsl(206, 96%, 74%);
    --bg-dark: hsl(206, 74%, 65%);
    --txt-light: hsl(208, 38%, 85%);
    --txt-medium: hsl(206, 68%, 72%);
    --txt-dark: hsl(213, 43%, 38%);
    --txt-alert: hsl(50, 100%, 50%);
    --bg-alert: hsl(0, 100%, 50%);
  
  
    --fnt-header: Calibri 20 bold;
    --fnt-default: Calibri 16 bold;
  
    --border-light: 2px solid var(--txt-light);
  
  
    --transition-time: 0.1s;
  }
  
  
  
  *, p{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: var(--transition-time);
    font: var(--fnt-default);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-weight: bold;
  }
  body{
    height: 100vh;
    background-image: linear-gradient(var(--bg-dark), var(--bg-light));
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    /* grid-template-rows: max-content; */
    flex-direction: column;
    /* align-items: stretch;
    justify-content: stretch; */
  }

  .all-container>.container:nth-child(1){
    height: fit-content;
  }

  .all-containerdy>.container:nth-child(2){
    background-color: blue;
    flex-grow: 1;
  }
  
  .container-dark{
    background-color: var(--txt-dark);
    border: 2px solid var(--txt-light);
    padding: 0.75rem;
    width: fit-content;
  }
  
  .container-dark > form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .lbl-light{
    color: var(--txt-light);
  }
  .lbl-error{
    color: var(--bg-alert);
  }
  .input-dark, .btn-dark{
    color: var(--txt-light);
    background-color: var(--txt-dark);
    padding: 0.25rem;
    border: 2px solid var(--txt-light);
  }
  .btn-dark:hover{
    color: var(--txt-dark);
    background-color: var(--txt-light);
  }
  
  .hidden{
    opacity: 0;
    cursor:default;
  }
  .center-v, .center-h{
    display: flex;
    justify-content: center;
  }
  
  .center-h{
    height: 100%;
    flex-direction: row;
  }
  
  .center-v{
    flex-direction: column;
  }

  .tuile, .navbar-item>.tuile{
    color: var(--txt-light);
    background-color: var(--txt-dark);
    border: var(--border-light);
    padding: 1rem 1.5rem !important;
    position: relative;
    text-decoration: none;
    display: flex;
  }

  .tuile a{text-decoration: none;}

  .tuile-sm{padding: 0.5rem 1rem !important;}

  .tuile p{
    color: var(--txt-light);
  }

  .tuile:hover, .tuile.selected{
    color: var(--txt-dark);
    background-color: var(--txt-light);
  }

  .tuile:hover p, .tuile.selected p{ color: var(--txt-dark);}

  nav{
    background-color: var(--bg-header);
    /* position: relative;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.5rem; */
  }

  .navbar-nav{ gap: 0.5rem;}

  .clickable-dark{
    color: var(--txt-light);
    background-color: var(--txt-dark);
    border: var(--border-light);
  }

  .clickable-dark:hover{
    color: var(--txt-dark);
    background-color: var(--txt-light);
    cursor: pointer;
  }
  .clickable-medium{
    text-decoration: none;
    color: black;
  }
  .clickable-medium:hover{
    background-color: var(--txt-medium);
  }
  .clickable-medium:active{
    background-color: var(--txt-light);
  }
  .tuile .alert{
    color: var(--txt-alert);
    background-color: var(--bg-alert);
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;

    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tuile .alert p{
    color: var(--txt-alert)
  }

  .logo{
    fill: var(--txt-dark);
    cursor: pointer;
  }

  .logo:hover, .logo.selected{fill: var(--txt-light);}

  .disabled{
    background-color: var(--txt-medium);
    cursor:default;
  }


  /*
    Tableau d'horaire-perso
  */
  .table-container{
    /* background-color: aliceblue; */
    overflow:scroll;
  }

  .table-container table{
    border-collapse: collapse;
    table-layout: fixed;
    /* width: 100%; */
  }
  .table-container table td{
    border: 4px solid var(--txt-light);
    /* border: var(--border-light); */
    text-align: center;
    padding: 0.5rem 1rem;
    width: 10rem;
  }
  .table-container table tr{
    /* display: grid; */
    grid-template-columns: auto repeat(auto 1fr);
  }
  .table-container table tr:last-child td,
  .table-container table tr td:first-child{
    background-color: var(--bg-header);
    color: var(--txt-light);
    /* border: var(--border-light); */
    position: sticky;
  }
  .table-container table tr:last-child td{ bottom: 0; border-bottom: none;}
  .table-container table tr td:first-child{ left: 0; width: auto; border-left: none;}


/*
    Tableau d'horaire-plancher
  */
  .table-container-plancher{
    /* background-color: aliceblue; */
    overflow:scroll;
  }

  .table-container-plancher table{
    border-collapse: collapse;
    /* border-collapse: separate;
    border-spacing: 0rem 0.5rem; */
    table-layout: fixed;
    /* width: 100%; */
  }
  .table-container-plancher table td{
    border: 4px solid var(--txt-light);
    /* border-width: 0 4px; */
    /* border: var(--border-light); */
    text-align: center;
    padding: 0.5rem 1rem;
    /* width: 10rem; */
  }
  .table-container-plancher table tr{
    /* display: grid; */
    grid-template-columns: max-content repeat(auto 1fr);
    margin: auto 100px;
  }
  .table-container-plancher table tr:last-child td,
  .table-container-plancher table tr td:first-child{
    
    /* border: var(--border-light); */
    position: sticky;
  }
  .table-container-plancher table tr:last-child td{ 
    bottom: 0; 
    /* border-bottom: none; */
    background-color: var(--bg-header);
    color: var(--txt-light);
  }
  .table-container-plancher table tr td:first-child{ 
    left: 0; 
    /* border-left: none;  */
    white-space:nowrap;
    /* border: none */
    border-width: 4px;
    opacity: 1;
    /*border: var(--border-light); */
  }
  



/*
    Tableau des employés
  */
  .table-container-emp{
    /* background-color: aliceblue; */
    overflow:scroll;
    white-space: nowrap;
  }

  .table-container-emp table{
    border-collapse: collapse;
    /* border-collapse: separate;
    border-spacing: 0rem 0.5rem; */
    table-layout: sticky;
    /* width: 100%; */
  }
  .table-container-emp table td{
    border: 4px solid var(--txt-light);
    /* border-width: 0 4px; */
    /* border: var(--border-light); */
    text-align: center;
    padding: 0.5rem 1rem;
    /* width: 10rem; */
  }
  .table-container-emp table tr{
    /* display: grid; */
    grid-template-columns: max-content repeat(auto 1fr);
    margin: auto 100px;
  }
  .table-container-emp table thead
  {
    
    position:sticky;
    top: 0; 
    opacity: 1;
    background-color: var(--bg-header);
    color: var(--txt-light);
  }
  .table-container-emp table tbody tr td:first-child
  {
    
    /* border: var(--border-light); */
    position: sticky;
    top: 110px; 
    /* border-bottom: none; */
    background-color: var(--bg-header);
    color: var(--txt-light);
  }
  
  .table-container-emp table tbody tr:hover
  {
    background-color: var(--txt-light);
    
  }

  .table-container-emp table{
    white-space: nowrap;
  }









  .dateSelector{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    /* align-content: center; */
    gap: 1rem;
    padding: 1rem;
    z-index: 1;
  }
  .dateSelector .input-dark{
    display: flex;
    gap: 0.5rem;
  }
  .dateSelector .input-dark>*{
    text-align: center;
  }

  .index-row{
    margin: auto;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 0.5rem;
  }

  .tuile-sq{
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0 !important;
  }
  .tuile-sq p{
    text-align: center;
  }

  
    @media all and (max-width: 48rem){
      .index-row{
        grid-template-columns: repeat(3, auto);
      }
    }
    
    @media all and (max-width: 32rem){
      .index-row{
        grid-template-columns: repeat(2, auto);
      }
      .selector .input-dark{
        flex-direction: column;
        align-content: center;
        justify-content: center;
      }
    }

  @media all and (max-width: 22rem){
    .index-row{
      grid-template-columns: auto;
      width: 100%;
      transition: 0ms;
    }

    .tuile-sq{
      width: 100%;
      transition: 0ms;
      padding: 1.5rem !important;
      height: auto;
    }
  }
